body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contents {

  margin-left: 5%;
}

.header {

  display: flex;
  justify-content: space-between;
}
nav ul {
  margin-right: 5%;
  margin-top: 20px;
}
nav ul li {
  list-style: none;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #AD4C4C;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 23px;
  
}
.foodbag {
  font-size: 26px;
  font-weight: 700;
}
.foodbag span {
  color:#AD4C4C;
}
#logout {
  border: 1px solid #AD4C4C;
  padding-top: 6px;
  padding-bottom: 6px;
}
#login {
  color:#4E4D4D;
}
#success {
  margin-left: 40%;
  margin-top: 10%;
  height: 400px;
  width: 400px;
}
#order {
text-align: center;
font-size: 28px;
color: #5EA304;
}
#processing {

  color: #696969;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (min-width: 468px) {
   
  .contents {

    margin-left: 2%;
  }

  nav ul {
    margin-right: 2%;
    margin-top: 30px;
  }

  #success {
    margin-left: 10%;
    margin-top: 10%;
    height: 400px;
    width: 400px;
  }
}

@media screen and (min-width: 790px) {
   
  .contents {

    margin-left: 5%;
  }

  nav ul {
    margin-right: 5%;
  }

  #success {
    margin-left: 39%;
    margin-top: 10%;
    height: 400px;
    width: 400px;
  }
}
